/*===========================================*/
/*BASIC SETUP*/
/*===========================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*===========================================*/
/*REUSABLE COMPONENTS*/
/*===========================================*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: justify;
}

.box h3 {
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
}

/*======= PARAGRAPH ======*/  
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center
}


/*======= HEADINGS ======*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;  
    word-spacing: 40x;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    content: " ";
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

/*======= LINKS ======*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*======= ICONS ======*/

.icon-big {
    font-size: 350%;
    color: #e67e22;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    font-size: 120%;
    width: 30px;
    text-align: center;
    color: #e67e22;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

/*======= BUTTONS ======*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/*===========================================*/
/*HEADER*/
/*===========================================*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;    
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*===========================================*/
/*MEALS*/
/*===========================================*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

/*===========================================*/
/*HOW IT WORKS*/
/*===========================================*/

.section-steps {
    background-color: #f4f4f4;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.work-step {
    margin-bottom: 50px;
}

.work-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 6px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.work-step:last-of-type {
    margin-bottom: 80px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.bnt-app:visited {
    border: 0;
}

/*===========================================*/
/*CITIES*/
/*===========================================*/


/*===========================================*/
/*TESTIMONIALS*/
/*===========================================*/

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
} 

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}


blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*===========================================*/
/*SIGN UP*/
/*===========================================*/

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: #fff;
    border-width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 2px #cbcbcb;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.plan-box ul {
    list-style: none; 
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

/*===========================================*/
/*SCONTACT FORM*/
/*===========================================*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 5px 0;
}

*:focus {
    outline: none;
}

/*===========================================*/
/*FOOTER*/
/*===========================================*/

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(29, 29, 29);
    color: #fff;
}

.footer-nav ul,
.social-links ul {
    list-style: none;
}

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
    float: left;
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.footer-nav li:first-child{
    border: 0;
    padding: 0;
}


.social-links li {
    display: inline-block;
    margin: 0 10px;
    float: right;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    color: #fff;
    text-decoration: none;
    border: 0;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e67e22;
}

.social-links li a:link,
.social-links li a:visited {
    color: #fff;
    border: 0;
    text-decoration: none;
    font-size: 110%;
    transition: color 0.2s;
}

.social-links li a:hover,
.social-links li a:active {
    color: #e67e22;
}


footer p {
    margin: 40px auto 2px auto;
    text-align: center;
    font-size: 70%
}




























